.style-switcher {
    position: fixed;
    right: 1;
    top: 61px;
    padding: 14px;
    width: 201px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    z-index: 100;
    border-radius: 6px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}
/* .style-switcher.open{
    transform: translateX(-25px);
} */

.style-switcher .s-icon {
    position: absolute;
    height: 41px;
    width: 41px;
    text-align: center;
    font-size: 21px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    right: 101%;
    border: 1px solid var(--bg-black-50);
    margin-right: 26px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 51%;
}

.style-switcher .s-icon {
    line-height: 40px;
}

.style-switcher .style-switcher-toggler{
    top: 0;
}

.style-switcher .day-night {
    top: 56px;
}
.style-switcher h4{
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-size: 15px;
    font-weight: 601;
    text-transform: capitalize;
}
.style-switcher .colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.style-switcher .colors span{
    display: inline-block;
    height: 31px;
    width: 31px;
    border-radius: 51%;
}
.style-switcher .color1{
    background: #ec1839;
}
.style-switcher .color2{
    background: #fa5b0f;
}
.style-switcher .color3{
    background: #37b182;
}
.style-switcher .color4{
    background: #1854b4;
}
.style-switcher .color5{
    background: #f021b2;
}
